<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>日程表</title>
        <link rel="stylesheet" href="/static/notes/base.css">
    </head>
    <body>
        
        <header>
            <a href="{{ url_for('notes.manageUi') }}">管理</a>
        </header>
        
        <div class="content">
            
            
            
        </div>
        
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="/static/notes/base.js"></script>
        <script>
            $(document).ready(function(){
                getNotes();getNotes();getNotes();
            });
        </script>
    </body>
</html>
