<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>面板</title>
        <link rel="stylesheet" href="/static/notes/base.css">
    </head>
    <body>
        
        <p align="center">
            <a href="{{ url_for('notes.add') }}">添加日程</a>
        </p>
        
        <p align="center">
            <a href="{{ url_for('notes.notesManager') }}">管理日程</a>
        </p>
        
        <p align="center">
            <a href="{{ url_for('notes.exitAccount') }}">退出登录</a>
        </p>
        
    </body>
</html>

